if errors
  each error in errors
    span= error

form(role=form, action='/auth/local', method='post')
  input(type='text', name='identifier', placeholder='Username or Email')
  input(type='password', name="password", placeholder="Password")
  button(type='submit') Sign In

if Object.keys(providers).length
  h4 You can also use one of these ..
  for key in Object.keys(providers)
    a(href='/auth/#{providers[key].slug}', role="button") #{providers[key].name}
